

@model 
@{
    Layout = null;
    ViewData["Title"] = "Inicio";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Inicio</title>
</head>
<body>
    <div>Olá @Model! Seja bem vindo!</div>
</body>
</html>

