@model IEnumerable<Nota>
@{
    ViewData["Título"] = "Resultado Da Busca";
}

<h1>Resultado da Busca</h1>

<h3>Total de notas: @Model.Count()</h3>

<ul class="list-group">
    
    @foreach (var nota in Model)
    {

        <li class="list-group-item">
            <div class="row">
                <div class="col-9">
                    <div class="mb-3">
                        <h3 class="Nota-Titulo Campo-De-Busca">@nota.Titulo</h3>


                        <textarea class="form-control" readonly spellcheck="false" wrap="soft" rows="8" cols="33">@nota.Anotacao</textarea>
                    </div>

                    

                </div>
            </div>
        </li>
        <a class="btn btn-primary" asp-action="ExibirNotas" asp-route-repositorioId="@nota.RepositorioId">Voltar</a>
    }
</ul>

