@model WebApplication1.ViewModels.NotaViewModel

@{
    ViewData["Title"] = "Editar rNota";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AdicionarRepositorio</title>
</head>
<body>


    <h1>Editar Nota</h1>

    <form asp-action="EditarNota" method="post">
        <div class="mb-3">
            <label asp-for="Titulo" id="Titulo">Titulo</label>
            <input class="form-control" asp-for="Titulo" value="@ViewData["Titulo"]" id="Titulo" data-form-title="DesbloquearBotao" />
            <span asp-validation-for="Titulo"></span>
        </div>
        <div class="mb-3">


            <label asp-for="Anotacao" id="Anotacao">Anotacao</label>
            <textarea class="form-control" rows="8" cols="33" asp-for="Anotacao" spellcheck="false" wrap="soft">@ViewData["Anotacao"]</textarea>
            <span asp-validation-for="Anotacao"></span>
        </div>

        <button type="submit" class="btn btn-primary mb-3" data-form-save="DesabilitarBotão">Salvar Alteração</button>
        <button type="submit" class="btn btn-primary mb-3" asp-action="ExibirNotas" asp-route-repositorioId="@ViewData["repositorioId"]">Cancelar</button>

    </form>

    <script>
       document.querySelector("textarea").innerHTML = "@ViewData["Anotacao"]";
    </script>
    <script src="https://cdn.tiny.cloud/1/lhvk1aq0f97cdlhq8ymfjgwo9ynyn8n88yj3gnhkprshxnto/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    @*<partial name="_DesabilitaBotao" />*@

</body>

</html>


