

<link href="~/css/site.css" rel="stylesheet" />


<nav class="navbar navbar-light  bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://localhost:44358/" asp->Perfil</a>

        <a class="nav-link" href="#">Repositórios</a>
        <a class="nav-link" href="#">Notas</a>


        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search" required>
        </form>
    </div>
</nav>

<script>

    var campoFiltro = document.querySelector(".form-control");

    campoFiltro.addEventListener("input", (event) => {
        //console.log(campoFiltro.value);
        var repositorios = document.querySelectorAll(".list-group-item");
        if (campoFiltro.value.length > 0) {
            //console.log("Deu Certo")


            repositorios.forEach(repositorio => {
                var item = repositorio.querySelector(".Campo-De-Busca")
                var nome = item.textContent;

                var expressao = new RegExp(campoFiltro.value, "i")//criando expressão regular case insensitive, ignoramso se etá maiúsculo ou minúsculo
                if (!expressao.test(nome)) {//testando se a expressão(busca digitada) é diferente de nome
                    repositorio.classList.add("d-none");
                } else {
                    repositorio.classList.remove("d-none");
                }
            })
        } else {
            repositorios.forEach(repositorio => {
                repositorio.classList.remove("d-none");
            });
        }
        //Desabilitando a tecla enter
        $(function () {
            $('input').on('keypress', function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                }
            });
        });

    });

</script>